# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/venv/lib/
/venv/lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv

# AWS SAM
.aws-sam/
samconfig.toml

# Node/Next.js
node_modules/
.next/
out/
build/
.env*.local

# OS
.DS_Store
Thumbs.db

# Exclude downloaded python packages in src
fraud-monitor/src/*
!fraud-monitor/src/*.py
!fraud-monitor/src/model/
fraud-monitor/src/model/*
!fraud-monitor/src/model/*.py
!fraud-monitor/src/model/*.joblib
!fraud-monitor/src/rules/
!fraud-monitor/src/rules/*.py
!fraud-monitor/src/common/
!fraud-monitor/src/common/*.py
!fraud-monitor/src/requirements.txt
