# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv

# AWS SAM
.aws-sam/
samconfig.toml

# Node/Next.js
node_modules/
.next/
out/
build/
.env*.local

# OS
.DS_Store
Thumbs.db
